<div class="main">
  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
  />

  <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>

  <ul>
    <li *ngFor="let item of items">
      <input type="checkbox" id="{{ item.description }}" name="{{ item.description }}" />
      <label for="{{ item.description }}" style="margin-right: 20px;">
        {{ item.description }}
      </label>

      <!-- Red cross delete button -->
      <button
        class="delete-btn"
        (click)="deleteItem(item)"
        aria-label="Delete item"
      >
        &times;
      </button>
    </li>
  </ul>
</div>
